* {
	margin: 0px;
	padding: 0px;
}

.mainDiv {
	margin-top: 20px;
	position: relative;
}

.sliderDiv {
	gap: 10px;
	display: flex;
	position: relative;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgb(63, 63, 63);
	margin: auto;
	background-color: red;
	width: 80%;
	height: 300px;
	border: none;
	overflow-x: scroll;
	overflow: hidden;
}

.arrow {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: blue;
	border-radius: 50%;
	cursor: pointer;
}

.arrow.right {
	right: 0px;
	margin-right: 20px;
}

.arrow.left {
	margin-left: 20px;
}

.direction {
	position: relative;
	width: 20px;
	height: 20px;
	border-top: 4px solid black;
	border-right: 4px solid black;
}

.arrow.left .direction {
	position: absolute;
	top: 25%;
	left: 30%;
	transform: rotate(-135deg);
}

.arrow.right .direction {
	position: absolute;
	top: 25%;
	right: 30%;
	transform: rotate(45deg);
}


.slide {
	position: relative;
	float: left;
	top: 50%;
	transform: translateY(-50%);
	min-width: 80%;
	height: 250px;
	/* background-color: rgb(255, 165, 0); */
	overflow: hidden;
}


::-webkit-scrollbar {
	display: none;
}

@keyframes grow {
	from {
		min-width: 0px;
	}
	to {
		min-width: var(--initailWidth);
		/* margin-right: -10px; */
	}
}
@keyframes shrink {
	from{
		width: var(--initailWidth);
	}
	to{
		min-width: 0px;
		margin-left: -10px;
	}
}
.grow-slide{
	position: relative;
	float: left;
	top: 50%;
	transform: translateY(-50%);
	height: var(--initialHeight);
	/* background-color: rgb(255, 165, 0); */
	animation: grow 0.5s forwards;
	/* margin-left: 10px; */
}
.shrink-slide{
	animation: shrink 0.5s forwards;
}
