body{
    font-size: 1rem;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
p, .uploadProduct{
    font-family: Poppins;
}
.button {
	background-color: coral;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
    border-radius: 6px;
}

.button.logout{
    padding: 7px 24px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}
.button.login{
    padding: 7px 30px;
    background-color: rgb(15, 225, 155);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}

/* User Table */
.userTable{
    @apply bg-white
}
.userTable th{
    @apply border text-base font-medium 
}
.userTable td{
    @apply border text-base font-medium 
}


/* Hide the default scrollbar */
::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Create a custom scrollbar */
/* This part is for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

/* This part is for other browsers */
*::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}
*::-webkit-scrollbar-track {
    background: transparent; /* Background color of the scrollbar track */
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
    border-radius: 8px; /* Rounded corners */
}

/* Apply scrollbar styling to your specific element */
.custom-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}
