body{
    font-size: 1rem;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
p, .uploadProduct{
    font-family: Poppins;
}
.button {
	background-color: coral;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
    border-radius: 6px;
}

.button.logout{
    padding: 7px 24px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}
.button.login{
    padding: 7px 30px;
    background-color: rgb(15, 225, 155);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}

/* Uploading Animation */

@keyframes ldio-3es9v4zliaw {
    0% {
      top: 80px;
      left: 80px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 160px;
      height: 160px;
      opacity: 0;
    }
  }
  .ldio-3es9v4zliaw div {
    position: absolute;
    border: 4px solid #00d1b2;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-3es9v4zliaw 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .loadingio-spinner-ripple-t4ay94oxoy {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-3es9v4zliaw {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
  }
  .ldio-3es9v4zliaw div { box-sizing: content-box; }

  

/* End of Uploading Animation */
  
  



/* User Table */
.userTable{
    @apply bg-white
}
.userTable th{
    @apply border text-base font-medium 
}
.userTable td{
    @apply border text-base font-medium 
}


/* Hide the default scrollbar */
::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Create a custom scrollbar */
/* This part is for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

/* This part is for other browsers */
*::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}
*::-webkit-scrollbar-track {
    background: transparent; /* Background color of the scrollbar track */
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
    border-radius: 8px; /* Rounded corners */
}

/* Apply scrollbar styling to your specific element */
.custom-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll-x::-webkit-scrollbar{
    display: none;
}



.custom-prev-arrow, .custom-next-arrow {
    width: 50px;
    height: 50px;
    background-color: black;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .custom-arrow-icon {
    color: white;
    font-size: 30px;
  }